.icon-spin1:before { content: '\e822'; }
.icon-chat:before { content: '\e808'; }
.icon-firefox:before { content: '\e824'; }
.icon-chrome:before { content: '\e823'; }
.icon-search:before { content: '\e80b'; } .icon-search { text-shadow: 0 0 15px #00ff00; } .ca-menu li:hover .icon-search { color: #00ff00; }
.icon-mail-alt:before { content: '\e802'; } .icon-mail-alt { text-shadow: 0 0 15px #ffff00; } .ca-menu li:hover .icon-mail-alt { color: #ffff00; }
.icon-male:before { content: '\e800'; } .icon-male { text-shadow: 0 0 15px #00ccff; } .ca-menu li:hover .icon-male { color: #00ccff; }
.icon-female:before { content: '\e801'; } .icon-female { text-shadow: 0 0 15px #ff6ec7; } .ca-menu li:hover .icon-female { color: #ff6ec7; }
.icon-picture:before { content: '\e80a'; }
.icon-cancel-circled:before { content: '\e812'; } .icon-cancel-circled { text-shadow: 0 0 15px #000000; } .ca-menu li:hover .icon-cancel-circled { color: #dd0000; }
.icon-home:before { content: '\e80c'; }
.icon-attach:before { content: '\e80e'; }
.icon-eye:before { content: '\e80f'; }
.icon-thumbs-up:before { content: '\e804'; }
.icon-download:before { content: '\e810'; }
.icon-upload:before { content: '\e811'; }
.icon-pencil:before { content: '\e803'; } .icon-pencil { text-shadow: 0 0 15px #ffff00; } .ca-menu li:hover .icon-pencil { color: #ffff00; }
.icon-print:before { content: '\e813'; }
.icon-spin5:before { content: '\e809'; }
.icon-spinner:before { content: '\e815'; }
.icon-facebook-squared:before { content: '\e806'; } .icon-facebook-squared {  text-shadow: 0 0 25px #005588; } .ca-menu li:hover .icon-facebook-squared { color: #00aaff; }
.icon-twitter:before { content: '\e805'; } .icon-twitter { text-shadow: 0 0 15px #00ccff; } .ca-menu li:hover .icon-twitter { color: #00ccff; }
.icon-left-open:before { content: '\e816'; } .icon-left-open { } .nav > a:hover .icon-left-open { color: #ffa500; text-shadow: 0 0 15px #ffa500; top: 20%;}
.icon-right-open:before { content: '\e817'; } .icon-right-open { } .nav > a:hover .icon-right-open { color: #ffa500; text-shadow: 0 0 15px #ffa500; top: 80%; }
.icon-menu:before { content: '\e818'; }
.icon-basket-1:before { content: '\e820'; }  .icon-basket-1 { text-shadow: 0 0 15px #ffa500; } .ca-menu li:hover .icon-basket-1 { color: #ffa500; }
.icon-info-circled:before { content: '\e81b'; } .icon-info-circled { text-shadow: 0 0 15px #ffa500; } .ca-menu li:hover .icon-info-circled { color: #ffa500; }
.icon-attention:before { content: '\e819'; }
.icon-location:before { content: '\e81a'; }
.icon-w3c:before { content: '\e81c'; }
.icon-html5:before { content: '\e81d'; }
.icon-odnoklassniki:before { content: '\e807'; } .icon-odnoklassniki { text-shadow: 0 0 15px #00ff00; } .ca-menu li:hover .icon-odnoklassniki { color: #00ff00; }
.icon-cogs:before { content: '\e825'; }
.icon-glasses:before { content: '\e81e'; }
.icon-plus-circle:before { content: '\e821'; }
.icon-minus-circle:before { content: '\e81f'; }
.icon-trash:before { content: '\e814'; }
.icon {
	color: #222222;
	font-family: 'wm_symbols', cursive;
    font-size: 40px;
    line-height: 100px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
@font-face {
  font-family: 'wm_symbols';
  src: url('/wshop/resources/symbols/wm_symbols.eot?55144013');
  src: url('/wshop/resources/symbols/wm_symbols.eot?55144013#iefix') format('embedded-opentype'),
       url('/wshop/resources/symbols/wm_symbols.woff?55144013') format('woff'),
       url('/wshop/resources/symbols/wm_symbols.ttf?55144013') format('truetype'),
       url('/wshop/resources/symbols/wm_symbols.svg?55144013#wm_symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}