#menu {
	height: 100%;
	width: 100%;
	display: block;
}

.ca-menu {
	padding: 0;
	margin: 0px auto;
	width: 1024px;
}

.ca-menu li {
	width: 166px;
	margin-right: 2px;
	margin-left: 2px;
	height: 210px;
	margin-top: 4px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	float: left;
	background-color: rgba(250, 250, 250, 0.8);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	transition: all 300ms ease;
}

.ca-menu li:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.ca-menu li:last-child {
	margin-right: 0px;
}

.ca-menu li a {
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
	color: #333;
	position: relative;
}

.menu-link {
	text-decoration: none;
}

.ca-menu li:hover .menu-link:hover {
	color: rgba(0, 200, 250, 1);
}

.ca-menu li:hover .menu-link {
	color: rgba(0, 200, 250, 0.2);
}

.ca-content {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 50%;
	top: 50%;
	text-align: center;
}

.ca-main {
	font-size: 22px;
	font-family: sans-serif;
	line-height: 25px;
	text-align: center;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.ca-sub {
	font-size: 15px;
	font-family: sans-serif;
	line-height: 20px;
	opacity: 0;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 0 20px #ffffff;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.ca-menu li:hover .icon {
	text-shadow: 0 0 20px #000000;
	font-size: 80px;
}

.ca-menu li:hover .ca-main {
	color: #00ccff;
	-webkit-animation: moveFromLeft 300ms ease;
	-moz-animation: moveFromLeft 300ms ease;
	-ms-animation: moveFromLeft 300ms ease;
}

.ca-menu li:hover .ca-sub {
	color: #ffffff;
	opacity: 1.0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: moveFromBottom 500ms ease;
	-moz-animation: moveFromBottom 500ms ease;
	-ms-animation: moveFromBottom 500ms ease;
}